<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <% taxonomies.each do |taxonomy| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%= taxonomy.name %></div>
      <div class="panel-body">
        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
          <ul class="nav navbar-nav side-nav">
            <% taxonomy.taxons.each do |taxon| %>
              <% if taxon.depth == 1 %>
                <% if taxon.children.present? %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#ct<%= taxon.id %>">
                      <%= taxon.name %>
                      <span>(<%= taxon.following_all_products_size %>)</span>
                      <i class="fa fa-plus"></i>
                    </a>
                    <ul id="ct<%= taxon.id %>" class="collapse collapseItem">
                      <% taxon.children.each do |taxon_child| %>
                        <li>
                          <%= link_to potepan_category_path(taxon_child.id) do %>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <%= taxon_child.name %>
                            <span>(<%= taxon_child.following_all_products_size %>)</span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id), 'data-target' => "#ct#{taxon.id}" do %>
                      <%= taxon.name %>
                      <span>(<%= taxon.active_products.size %>)</span>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="panel panel-default priceRange">
    <div class="panel-heading">値段から探す</div>
    <div class="panel-body clearfix">
      <div class="price-slider-inner">
        <span class="amount-wrapper">
          <input type="text" id="price-amount-1" readonly>
          <strong>-</strong>
          <input type="text" id="price-amount-2" readonly>
        </span>
        <div id="price-range"></div>
      </div>
      <input class="btn btn-default" type="submit" value="絞り込む">
      <!-- <span class="priceLabel">Price: <strong>12 円- 30<円/strong></span> -->
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">色から探す</div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li><a href="#">ブラック<span>(15)</span></a></li>
        <li><a href="#">ホワイト<span>(10)</span></a></li>
        <li><a href="#">レッド<span>(7)</span></a></li>
        <li><a href="#">ブルー<span>(12)</span></a></li>
        <li><a href="#">オレンジ<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default filterNormal">
    <div class="panel-heading">サイズから探す</div>
    <div class="panel-body">
      <ul class="list-unstyled clearfix">
        <li><a href="#">S<span>(15)</span></a></li>
        <li><a href="#">M<span>(10)</span></a></li>
        <li><a href="#">L<span>(7)</span></a></li>
        <li><a href="#">XL<span>(12)</span></a></li>
      </ul>
    </div>
  </div>
</div>