<% provide(:title, @taxon.name) %>
<%= render partial: 'shared/light_section', locals: { label: @taxon  } %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: 'sidebar', locals: { taxonomies: @taxonomies  } %>
      <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render partial: 'filter_area', locals: { category: @taxon  } %>
        <%if @display_type == 'list' %>
          <%= render partial: 'product_list', locals: { products: @products  } %>
        <% else %>
          <%= render partial: 'product_grid', locals: { products: @products  } %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/partners' %>
