 <div class="slide">
  <div class="productImage clearfix">
      <%= image_tag latest_product.images.first.attachment, :alt => "featured-product-img" %>
    <div class="productMasking">
      <ul class="list-inline btn-group" role="group">
        <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
        <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
        <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i class="fa fa-eye"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="productCaption clearfix">
    <%= link_to latest_product.name, potepan_product_path(latest_product.id) %>
    <h3><%= latest_product.display_price %></h3>
  </div>
</div>