<%= render 'banner' %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'featured_collection' %>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <%= render partial: "latest_product", collection: @latest_products %>
        </div>
      </div>
    </div>
    <%= render 'article' %>
  </div>
</section>
<%= render 'shared/partners' %>