<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/meta' %>
  <%= render 'layouts/style' %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class="main-wrapper">
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/copy_right' %>
  <%= render 'layouts/modal' %>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
