<!DOCTYPE html>
<html>
<head>
  <title>BIGBAG Store</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<body>
<%= yield %>
<%= javascript_include_tag 'application' %>
</body>
</html>
